
/*------BASE------*/
:root{
    --color-primary:#0095DA;
    --color-black: #555555;
    --color-grey-dark : #9F9F9F;
    --color-grey-light-1 : #F7F7F7;
    --color-grey-light-2: #c8c8c8;
    --color-white:#fff;

    --font-title:'Palanquin',sans-serif;
    --font-text:'Opensas',sans-serif;
}

*{
    margin : 0 ; 
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black);
    min-height: 100vh;
}

/*------COMPONENT------*/
.btn,
.btn:link,
.btn:visited{
        text-decoration: none;
        padding: 1.5rem 4.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;

        border: none;
        cursor: pointer;
}

.btn:hover,
.btn:focus{
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
        outline: none;
}

.btn--blue{
    font-family: var(--font-title);
    font-weight: 600;
    color: white;
    background-color: var(--color-primary);
    font-size: 1.5rem;
}
 
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    height: 15vh;
}

.navbar__user{
    display: flex;
    align-items: center;
}

.logo__pic{
    height: 4rem;
}

.user__pic{
    height: 4rem;
    width: 4rem;
    margin-right: 1.5rem;
    border-radius: 100%;
}
.user__name{
    font-size: 1.5rem;
}

.content{
    display: flex;  
    width: 100vw;
}

.sidebar{
    display: flex;
    flex-flow: column;
    align-items: start;
    height: 85vh;
    width: 23vw;
}

.sidebar__menu{
    list-style: none;
    margin-top: 1.8rem;
}

.sidebar__content{
    display: flex;
    align-items: center;

}

.sidebar__content:not(:last-child){
        margin-bottom: .5rem;
}

.sidebar__link:link,
.sidebar__link:visited{
    display: flex;
    align-items: center;

    
    text-decoration: none;
    font-size:1.4rem;
    font-weight: 600;
    color: var(--color-black);
    padding: 1.2rem 3rem;

}

.sidebar__icon{
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    fill:var(--color-black);
}

.sidebar__content:hover a ,
.sidebar__content:hover svg,
.sidebar__content--active .sidebar__link ,
.sidebar__content--active svg{
    color: var(--color-primary);
    fill:var(--color-primary);
}

.title{
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--color-black);
}


/*------LOGIN--------*/
.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.login__pic{
  height: 100vh;
  width: 60vw;
}

.login__form{
    width: 40vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.login__logo{
    height:8rem;    
}

.logo__text{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: var(--font-title);
    margin-bottom: 4rem;
}


.login__content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: inherit;
}


.form__username, 
.form__password{
    width:60%;
}

.form__input{
    border-radius: 100px;
    padding: 1.5rem 2rem;
    border: solid 1px var(--color-grey-light-2);
    font-size: 1.5rem;
    color: inherit;
    width: 100%; 
    margin-bottom: 3rem;
}

.form__input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
}


/*------DASHBOARD------*/

.main-content{
  background-color: var(--color-grey-light-1);
  width: inherit;
  height: 85vh;
  padding: 2rem 4.5rem;
}

.status,
.new-request{ 
    background-color: var(--color-white);
    padding: 3rem 4.5rem;
    border-radius: 3rem;
    margin-top: 2rem;
}


.status__content{
    display: flex;
    justify-content: space-around;
}

.status__content__detail{
    display: flex;
    align-items: center;
}

.status__number{
    font-size: 4rem;
    color: var(--color-primary);
    margin-right: 1.5rem;
}

.status__text{
    font-size: 1.8rem;
    width: 12rem;
}

.new-request__top{
    display: flex;
    align-items: center;
    
}

.new-request__notif{
    font-size: 1.3rem;
    background-color: var(--color-primary);
    padding: 0.3rem 1.8rem;
    border-radius: 10rem;
    color: var(--color-white);
    margin-left: 1rem;
}

.table-request{
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1rem;

}

hr{
   grid-column: 1/-1;
   grid-row:2;
   border-width: .05rem;
}

.table-title{
    font-size: 1.6rem;
}

.table-title-name,
.table-content-name{
    grid-column: 1/span 3;
    
}

.table-title-asset,
.table-content-asset{
    grid-column:4/span 3;
    
}

.table-title-qty,
.table-content-qty{
    grid-column: 7/span 1;
    
}

.table-title-note,
.table-content-note{
    grid-column:8/span 4;
}

.table-title-name,
.table-title-asset,
.table-title-qty,
.table-title-note{
    grid-row:1;
}

.table-content-name,
.table-content-asset,
.table-content-qty,
.table-content-note{
    grid-row:3;
}



